<%- include("../partials/header") %>
    <title><%= title %></title>
  </head>
  <body>
        <%- include("../partials/navbar")%>
    <div class="container mt-5">
      <div class="row">
        <h1 id="_404" class="text-center">404</h1>
        <h4 id="PNF" class="text-center">Page Not Found</h4>
        <div class="d-flex justify-content-center align-items-center mt-5">
        <a href="/simpnotes/mynotes"><button class="btn btn-primary">My Notes</button></a>
        </div>
        </div>
    </div>

 <%- include("../partials/footer") %>
